$font-family-sans-serif:Arial,
sans-serif;
$table-border-color:#c5c5c5;
$panel-bg:#ffffff;
$text-color:#333333;
$panel-default-border:#262324;
$panel-default-heading-bg:#262324;
$navbar-default-color:#ffffff;
$panel-default-border:#0088B8;
$panel-default-bg:#0088B8;
$panel-default-text:#ffffff;
$panel-primary-border:#4e99a4;
$panel-primary-border:#4e99a4;
$panel-success-heading-bg:#4e99a4;
$panel-primary-text:#ffffff;
$panel-primary-heading-bg:#4e99a4;
$panel-info-heading-bg:#b1d5da;
$panel-info-text:#444444;
$brand-primary:#0088B8;
$brand-danger:#a0072b;
$brand-warning:#f3d8d8;
$border-radius-base:5px;
$btn-default-bg:#0088B8;
$btn-default-color:#ffffff;
$btn-default-border:#0088B8;
$panel-bg: lighten($panel-bg, 5%);
$font-size-h1: 24px;
$font-size-h2: 18px;
$font-size-h3: 14px;